body {
  padding: 70px;
  background-color: #282c34;
  color: #eee;
}

.flex {
  display: flex;
}

.añadir {
  margin: 20px;
  color: #eee;
  border-radius: 10px;
  background-color: rgb(61, 89, 124);
  cursor: pointer;
}

.card {
  padding: 10px;
  margin: 10px;
  width: 200px;
  background-color: rgb(61, 89, 124);
}
